{% extends '::base.html.twig' %}

{% block body %}
    <h1>
        Edit client {{ client.name }}
    </h1>

    <div class="form">
        <form id="login" class="vertical" action="{{ path('didier_website_client_edit', {id: client.id}) }}" method="POST">
            {% if null != error|default(null) %}
                <div class='form_error'>{{ error }}</div>
            {% endif %}

            {{ form_rest(form) }}

            <div class="form_button">
                <input type="submit" id="_submit" name="_submit" value="Edit" />
            </div>
        </form>
    </div>
    <a href="{{ path('didier_website_client_list') }}">Back to list</a>
{% endblock %}
