{% extends '@DidierWebsite/AccessToken/layout.html.twig' %}

{% block content %}
    <div class="mdl-cell mdl-cell--12-col">
        <table class="mdl-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>#</th>
                    <th>client</th>
                    <th>user</th>
                    <th>token</th>
                    <th>expiresAt</th>
                    <th>expired?</th>
                    <th>scope</th>
                </tr>
            </thead>
            <tbody>
                {% for accessToken in accessTokens %}
                    <tr>
                        <td>
                            <a href="{{ path('didier_website_access_token_show', {id: accessToken.id}) }}">{{ accessToken.id }}</a>
                        </td>
                        <td><a href="{{ path('didier_website_client_show', {id: accessToken.client.id}) }}">{{ accessToken.client.name }}</a></td>
                        <td>{{ accessToken.user }} (#{{ accessToken.user.id }})</td>
                        <td>{{ accessToken.token }}</td>
                        <td>{{ accessToken.expiresAt is not null ? accessToken.expiresAt|date : '' }}</td>
                        <td>{{ now.format('U') > accessToken.expiresAt ? 'yes' : 'no' }}</td>
                        <td>{{ accessToken.scope }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
