{% extends '::base.html.twig' %}
{% block body %}
    <h1>Access tokens</h1>
    <table border="1">
        <thead>
            <tr>
                <td>#</td>
                <td>client</td>
                <td>user</td>
                <td>token</td>
                <td>expiresAt</td>
                <td>expired?</td>
                <td>scope</td>
                <td>actions</td>
            </tr>
        </thead>
        {% for accessToken in accessTokens %}
            <tbody>
                <tr>
                    <td>{{ accessToken.id }}</td>
                    <td>{{ accessToken.client.name }} (#{{ accessToken.client.id }})</td>
                    <td>{{ accessToken.user }} (#{{ accessToken.user.id }})</td>
                    <td>{{ accessToken.token }}</td>
                    <td>{{ accessToken.expiresAt }}</td>
                    <td>{{ now.format('U') > accessToken.expiresAt ? 'yes' : 'no' }}
                    <td>{{ accessToken.scope }}</td>
                    <td>
                        <a href="{{ path('didier_website_access_token_revoke', {
                            id: accessToken.id
                        }) }}"/>
                            revoke
                        </a>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}
